{:name "ClojureScript Quick Start"
 :files [{:path "src/cljs_browser/hello.cljs"
          :open? true}
         {:path "index.html"
          :open? true}
         {:path "deps.edn"
          :open? false}
         {:path ".vscode/settings.json"
          :open? false}
         {:path ".gitignore"
          :open? false}]}