{:name "Getting Started REPL"
 :files [{:path "hello_repl.clj"
          :open? true}
         {:path "hello_paredit.clj"
          :open? true}
         {:path "welcome_to_clojure.clj"
          :open? true}]}